.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 34px 20px 0 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.headerImage {
    height: 48px;
    width: 48px;
    object-fit: contain;
    display: block;
    flex-shrink: 1;
    max-width: 60%;
}
